@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --a:0;
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}


body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    position: relative;
     margin: 16px 0;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;

    font-weight: bold;
}

.home {
    padding: 10px;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #313030;
}

.rounded {
    border-radius: 14px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    list-style: none;
    padding: 23px 14px;
    padding-top: 14px;
    font-size: 10px;
     align-items: center;
    font-weight: bold;
}

.heading img {
    width: 30px;
}


.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
    text-decoration-line: none;

}


.hamburger {
    display: none;
    height: 40px;
    width: 40px;
}

.put {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    background: rgb(34, 34, 34);
   
}

.header>* {
    padding: 20px;
}

.spotifyplaylist h1 {
    margin: 16px;
}

.card {
    width: 230px;
    padding: 15px;
    height: auto;
    border-radius: 5px;
    background-color: #252525;
    margin: 5px;
    margin-top: 10px;
    position: relative;
    border-radius: 20px;
    transition: all .9s;

}

.card:hover{
    --a:1;
}

.card .cover {
    width: 100%;
    object-fit: contain;
}


.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    overflow-y: auto;
    max-height: 70vh;
    

}


.play {

    background-color: rgb(61, 175, 61);
    border-radius: 40px;
    opacity: var(--a);
    position: absolute;
    bottom: 13vh;
    right: 1vw;
    padding: 4px;
    transition: all .2s ease-out;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}

.button button {
    margin: 5px;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
}


.signupbtn {
    background-color: black;
    color: rgb(161, 159, 159);
    font-weight: bold;

    font-size: 17px;
}

.signupbtn:hover {
    background-color: black;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    font-weight: 1.1rem;

}

.loginbtn {
    background: white;
    color: black;
    font-weight: bold;
    font-size: 17px;
     width: 79px;

}

.loginbtn:hover {

    color: rgb(83, 81, 81);
    font-size: 18px;
    font-weight: 1.1rem;
}


.playbar {
    position: fixed;
    bottom: 30px;
    background-color: rgb(19, 18, 18);
    border-radius: 10px;
    width: 70vw;
    height: 40px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 40px;
}

.songlist ul {
    padding: 0 12px;

}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    gap: 13px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;
}

.songlist .info {
    width: 344px;
}

.songlist {
    height: 644px;
    overflow: auto;
    margin: 44px 0;
}

.info div {
    margin: 2px 0;
    word-break: break break-all ;
    gap:auto;
}

.playnow {
    justify-content: center;
    align-items: center;
    display: flex;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    bottom: 7px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 5px;
    left: 0%;

    transition: left 0.5s;
}

.songbutton img {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

.songinfo{
     color: rgb(255, 255, 255);
     width: auto;
     padding: 0 12px;
      
}
.songtime {
    color: rgb(255, 255, 255);
    padding: 0 12px;
    width:113px;
}




.timevol{
    display: flex;

}

.volume {
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}


@media (max-width :1400px) {
    .left {
        background-color: black;
        position: absolute;
        transition: all .3s;
        left: -130%;
        z-index: 1;
        width: 373px;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .left .close {

        position: absolute;
        right: 31px;
        top: 25px;
        width: 40px;
    }

    .right {
        width: 100vw;
        margin-top: 0;
    }

    .playbar {
        background-color: rgb(102,105,102s);
        width: calc(100vw - 75px);
        right: 25px;
        height: 130px;
    }

    .hamburger {
        display: block;
    }

    .seekbar {
       width: calc(100vw - 120px);
    }

    .card {
        width: 44vw;
        height: auto;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
        max-height: 60vh;
    }

    .abovebar {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .timevol div{
    align-items: center;
    margin-bottom: 10px;

}
}

@media (max-width :500px) {

.card{
    width: auto;
}

}
